.jumbotron {
    font-weight: bold;
    background-color: yellow;
    margin-top: 50px;
}

footer {
    padding: 10px 10p 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;;
    margin-top: 10px;
}

.foooter-address-icon {
    padding-right: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.hidden {
    display: none;
}

.tab-content {
    padding-top: 10px;
}